{% extends 'Layout.html.twig' %}


{% block content %}

    <div class="container">
        <div class="row">
            <ul class="col-md-12">

                <h1>{{ erno|raw }}</h1>

                <p>Message: {{ ermes|raw }}</p>

                <p>URI: {{ uri|raw }}</p>

                <hr/>

                <h3>The page you were looking for could not be found</h3>
                <p>This could be the result of the page being removed, the name being changed or the page being
                    temporarily unavailable</p>
                <h3>Troubleshooting</h3>

                <ul>
                    <li>If you spelled the URL manually, double check the spelling</li>
                    <li>Go to our website's home page, and navigate to the content in question</li>
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}