{% extends 'Layout.html.twig' %}

    {% block title %}{% endblock %}

    {% block meta %}{% endblock meta %}

    {% block head %}
{% block adminheadbefore %}{% endblock adminheadbefore %}
    <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/sb-admin.css" />
    <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/custom.css" />
    <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/metisMenu.min.css" />
        {% block adminheadafter %}{% endblock adminheadafter %}
    {% endblock head %}

    {% block menu %}
        {% include 'Admin/Topbar.html.twig' %}
    {% endblock menu %}

{% block content %}
    <div id="wrapper">
        <!-- sidebar -->
        {% include 'Admin/Sidebar.html.twig' %}
        <!-- /sidebar -->

        <div id="page-wrapper">
            {% block admincontent %}{% endblock admincontent %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock content %}