{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; System &ndash; Xdebug Trace File Parser
    {% endblock %}

    {% block adminheadafter %}
        <style type="text/css">
            strong {
                font-weight: bold;
            }
            small {
                font-size: 11px;
            }
            h1 {
                font-size: 24px;
                font-weight: bold;
            }
            h2 {
                font-size: 18px;
            }
            label {
                display: block;
                margin-bottom: 5px;
            }
            img {
                vertical-align: middle;
                border: 0;
            }
            table {
                width: 100%;
            }
            td,th {
                padding: 3px;
                vertical-align: top;
            }
            th {
                background: #343434;
                color: white;
                text-align: right;
            }
            td.digit {
                text-align: right;
            }
            span.warning {
                font-weight: bold;
                color: red;
                font-size: 11px;
            }
            tr.near td {
                background: #fffac1;
            }
            tr.line td {
                background: #f7f09f;
            }
            span.user {
                color: chartreuse;
            }
            span.native {
                color: lightseagreen;
            }
            span.Zend {
                color: yellowgreen;
            }
            span.Custom {
                color: coral;
            }
            tr:nth-child(even) {background: ivory;}
            tr:nth-child(odd) {background: aliceblue;}
        </style>
    {% endblock adminheadafter %}

{% block admincontent %}
    <div class="row">
        <div class="col-lg-12">
            <br />

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <i class="fa fa-bar-chart fa-3x"> &nbsp; Xdebug Trace File Parser</i>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div><a href="#">Source code at ...</a></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <p>
                            xdebug.trace_output_dir: <span class="label label-default">{{ logDirectory }}</span><br />
                            xdebug.trace_format:
                            <a href="#" data-toggle="popover" title="Trace Formats:" data-content="
                            0 - human readable<br />
                            1 - computer readable<br />
                            2 - (simple) HTML"><span class="label label-default">{{ traceFormat }}</span></a>
                        </p>
                    </span>
                    <a href="#"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </div>


            <form method="get" action="{{ formPath }}" class="form-inline">
                <div class="panel panel-default">
                    <div class="panel-body form-group">
                        File
                        <select name="file">
                            <option value=""> -- Select -- </option>
                            {{ xtFilesList|raw }}
                        </select><br />
                        <span>If the memory jumps <input type="text" name="memory" value="{{ memory_trigger }}" style="text-align:right" size="5"/> MB, provide an alert</span><br />
                        <span>If the execution time jumps <input type="text" name="time" value="{{ time_trigger }}" style="text-align:right" size="5"/> seconds, provide an alert</span>
                    </div>
                </div>

                <label>

                </label>
                <label></label>
                <label></label>
                <input class="btn btn-primary" type="submit" value="parse"/>
            </form>

            {% if flashMessage is not empty %}
            <div class="alert alert-warning alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> {{ flashMessage }}
            </div>
            {% endif %}

        {% if fullTrace is not empty %}
            <br /><a href="#sumary">summary</a>

            <table>
                <tr>
                    <td>
                        {{ traceFile }} <br />
                        <strong>{{ tracesCount }}</strong> function calls in <strong>
                        {{ ll.timeOnEntry }} seconds</strong>, using <strong>{{ ll.memoryOnEntry }} MB</strong> of memory.
                    </td>
                    <td></td>
                    <td style="vertical-align:bottom"><small>in = start func.<br />out = end func.</small></td>
                    <td style="vertical-align:bottom"><small>in = start func.<br />out = end func.</small></td>
                </tr>
                <tr>
                    <th style="max-width: 70%; text-align: left;">Function / File</th>
                    <th style="min-width: 8em;">Line</th>
                    <th style="min-width: 8em;">Time</th>
                    <th style="min-width: 8em;">Memory</th>
                </tr>
                {% for row in fullTrace %}
                <tr>
                    {% if row.level %}
                        {% set padding = row.level * 10 %}
                    {% else %}
                        {% set padding = 0 %}
                    {% endif %}
                    <td style="padding-left: {{ padding }}px">
                        {% if row.type == 0 %}
                        <a target="_blank" href="http://php.net/{{ row.function }}"><span class="native" title="PHP doc {{ row.function }}">&#x261b; </span></a>
                        {% else %}
                            {% if row.function|slice(0, 5) == 'Zend_' %}
                                {% set class = 'Zend' %}
                            {% elseif row.function|slice(0, custom_namespace_len) == custom_namespace %}
                                {% set class = 'Custom' %}
                            {% else %}
                                {% set class = 'user' %}
                            {% endif %}
                        <span class="{{ class }}" title="User Defined Function">&#x261b; </span>
                        {% endif %}

                        <strong>{% if row.type == 0 %}\{% endif %}{{ row.function }}</strong>
                        <ul>{{ row.valParms|raw }}</ul><br />
                        <small>{{ row.filename }}</small>
                        <span class="warning">
                            {% if row.timeAlert %}
                            <br />Warning, time jump exceeds trigger! {{ row.timeAlert }}
                            {% elseif row.memoryAlert %}
                            <br />Warning, memory jump exceeds trigger! {{ row.memoryAlert }}
                            {% endif %}
                        </span>
                    </td>
                    <td class="digit line">
                        {% if row.line %}
                            <a href="#{{ row.line }}">{{ row.line }}</a>
                        {% endif %}
                    </td>
                    <td class="digit" style="{% if row.timeAlert %}background:Red;color:white{% endif %}">
                        in: {{ row.timeOnEntry }} s<br />out: {{ row.timeOnExit }} s<br />

                        {% if row.timeOnEntry and row.timeOnExit %}
                            {{ ((row.timeOnExit - row.timeOnEntry) * 1000000)|number_format(0) }} µs
                        {% endif %}
                    </td>
                    <td class="digit" style="{% if row.memoryAlert %}background:Red;color:white{% endif %}">
                        in: {{ row.memoryOnEntry }} MB<br />out: {{ row.memoryOnExit }} MB<br />

                        {% if row.memoryOnEntry and row.memoryOnExit %}
                            {{ ((row.memoryOnExit - row.memoryOnEntry) * 1000000)|number_format(0) }} B
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

            <a name="sumary"></a><h2>Summary of functions for time spent</h2>
            <table>
                <tr>
                    <th style="text-align: left;">Function</th>
                    <th>times</th>
                    <th>sum Time</th>
                    <th>sum Memory</th>
                    <th>avg Time</th>
                    <th>avg Memory</th>
                </tr>
                {% for row in summ_func %}
                <tr>
                    <td>{{ row.func }}</td>
                    <td class='digit'>{{ row.cnt|number_format(0) }}</td>
                    <td class='digit'>{{ row.tim|number_format(0) }}</td>
                    <td class='digit'>{{ row.mem|number_format(0) }}</td>
                    <td class='digit'>{{ (row.tim / row.cnt)|number_format(0) }}</td>
                    <td class='digit'>{{ (row.mem / row.cnt)|number_format(0) }}</td>
                </tr>
                {% endfor %}
            </table>


            <a name="sumary"></a><h2>Summary files for time spent</h2>
            <table>
                <tr>
                    <th style="text-align: left;">File</th>
                    <th>instructions</th>
                    <th>sum Time</th>
                    <th>sum Memory</th>
                    <th>avg Time per inst</th>
                    <th>avg Memory per inst</th>
                </tr>
                {% for row in summ_file %}
                <tr>
                    <td>{{ row.filename }}</td>
                    <td class='digit'>{{ row.cnt|number_format(0) }}</td>
                    <td class='digit'>{{ row.tim|number_format(0) }}</td>
                    <td class='digit'>{{ row.mem|number_format(0) }}</td>
                    <td class='digit'>{{ (row.tim / row.cnt)|number_format(0) }}</td>
                    <td class='digit'>{{ (row.mem / row.cnt)|number_format(0) }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({ html : true});

            $('td.line a').each(function() {
                $(this).click(function() {
                    showCode(this);
                })

            })
        })
        function showCode(where) {
            var file = $(where).parent().parent().find('small').text();
            window.open('code?line=' + $(where).text() + '&file=' + file + '#l' + $(where).text(), 'code', 'width=700,height=400,toolbar=no,status=no,menubar=no,scrollbars=yes');
        }
    </script>
{% endblock admincontent %}