{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; Dashboard &ndash; System
    {% endblock %}

    {% block adminheadbefore %}
    {% endblock adminheadbefore %}

{% block admincontent %}

    <div class="row">
        <div class="col-lg-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <i class="fa fa-bar-chart fa-3x"> &nbsp; xdebug-trace-gui</i>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge"><a style="float: right" href="http://xdebug.org/docs/"><img src="http://xdebug.org/images/xdebug.gif"></a></div>
                            <div><a href="https://github.com/corretge/xdebug-trace-gui">Source code at github</a></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <ul>
                                <li><a href="dbg/trace"><b>Xdebug trace gui</b>.</a></li>
                                {#<li><a href="dbg/graph"><b>Xdebug trace graph</b>.</a></li>#}
                            </ul>
                        </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>

        </div>
    </div>

{% endblock admincontent %}