<html>
<head>
    <style type="text/css">
        table {width: 100%;}
        td,th {padding: 3px; line-height: 10px;}
        td.digit {text-align: right; line-height: 10px; font-size: 12px;}
        tr.near td {background: #fffac1;}
        tr.line td {background: LawnGreen;}
        tr:nth-child(even) {background: ivory;}
        tr:nth-child(odd) {background: aliceblue;}
    </style>
    <title>Xdebug Trace File Parser</title>
</head>
<body>

    <table>
        {% for row in hline %}
            <tr class="{{ row.class }}">
                <td class="digit"><a name="l{{ row.num }}">{{ row.num }}</a></td>
                <td>{{ row.line|raw }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>