<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-nav sidebar-collapse">
        {{
        render_menu('admin_sidebar', 'ul', {
            "attributes":{"class": "nav", "id":"side-menu"},
            "active" : {
                "class": "menu_active",
                "prepend" : "<div class=\"pointer\"><div class=\"arrow\"></div><div class=\"arrow_border\"></div></div>"
            }})| raw
        }}
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->