{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; Dashboard &ndash; System
    {% endblock %}

    {% block adminheadbefore %}
    {% endblock adminheadbefore %}

{% block admincontent %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="page-header">Welcome to RunCMF Admin Dashboard</h3>
            <p>Let's build your own dashboard!</p>
            <p>by editing app/Views/Admin/System.html.twig</p>
        </div>
        <p>{{ test }}</p>

    </div>

{% endblock admincontent %}