{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; Dashboard &ndash; System
    {% endblock %}

    {% block adminheadbefore %}
        <style type="text/css">
            form {
                display: table;
                width: 100%;
                white-space: nowrap;
            }

            form div {
                display: table-cell;
                width: auto;
            }

            form #command {
                width: 100%;
            }

            input {
                border: none;
                outline: none;
                background: transparent;
                width: 100%;
            }

            input:focus {
                outline: none;
            }

            /*pre, form, input {*/
                /*background-color: #000000;*/
                /*color: inherit;*/
                /*font-family: inherit;*/
                /*!*font-size: inherit;*!*/
            /*}*/

            /*pre {*/
                /*white-space: pre;*/
                /*height: 400px;*/
            /*}*/
            #term {
                background-color: #000000;
                color: inherit;
                font-family: inherit;
                white-space: pre;
                height: 600px;
            }
            code {
                color: blue;
                font-family: inherit;
                font-size: inherit;
            }

            strong {
                font-weight: bolder;
                font-family: Tahoma, Geneva, sans-serif
            }

            .error {
                color: red;
            }

            .autocomplete .guess {
                color: #a9a9a9;
            }

            .diff-header {
                color: #333;
                font-weight: bold;
            }

            .diff-sub-header {
                color: #33a;
            }

            .diff-added {
                color: #3a3;
            }

            .diff-deleted {
                color: #a33;
            }
        </style>
        <!-- green -->
        <style type="text/css">
            .conbody {
                background-color: #000000;
                color: #00C000;
                font-family: monospace;
                border-radius: 5px;
            }

            code {
                color: #00C000;
            }

            .diff-added {
                color: #23be8c;
            }
        </style>
        <script type="text/javascript">
            /**
             *  History of commands.
             */
            (function ($) {
                var maxHistory = 100;
                var position = -1;
                var currentCommand = '';
                var addCommand = function (command) {
                    var ls = localStorage['commands'];
                    var commands = ls ? JSON.parse(ls) : [];
                    if (commands.length > maxHistory) {
                        commands.shift();
                    }
                    commands.push(command);
                    localStorage['commands'] = JSON.stringify(commands);
                };
                var getCommand = function (at) {
                    var ls = localStorage['commands'];
                    var commands = ls ? JSON.parse(ls) : [];
                    if (at < 0) {
                        position = at = -1;
                        return currentCommand;
                    }
                    if (at >= commands.length) {
                        position = at = commands.length - 1;
                    }
                    return commands[commands.length - at - 1];
                };

                $.fn.history = function () {
                    var input = $(this);
                    input.keydown(function (e) {
                        var code = (e.keyCode ? e.keyCode : e.which);

                        if (code == 38) { // Up
                            if (position == -1) {
                                currentCommand = input.val();
                            }
                            input.val(getCommand(++position));
                            return false;
                        } else if (code == 40) { // Down
                            input.val(getCommand(--position));
                            return false;
                        } else {
                            position = -1;
                        }
                    });

                    return input;
                };

                $.fn.addHistory = function (command) {
                    addCommand(command);
                };
            })(jQuery);

            /**
             * Autocomplete input.
             */
            (function ($) {
                $.fn.autocomplete = function (suggest) {
                    // Wrap and extra html to input.
                    var input = $(this);
                    input.wrap('<span class="autocomplete" style="position: relative;"></span>');
                    var html =
                            '<span class="overflow" style="position: absolute; z-index: -10;">' +
                            '<span class="repeat" style="opacity: 0;"></span>' +
                            '<span class="guess"></span></span>';
                    $('.autocomplete').prepend(html);

                    // Search of input changes.
                    var repeat = $('.repeat');
                    var guess = $('.guess');
                    var search = function (command) {
                        var array = [];
                        for (var key in suggest) {
                            if (!suggest.hasOwnProperty(key))
                                continue;
                            var pattern = new RegExp(key);
                            if (command.match(pattern)) {
                                array = suggest[key];
                            }
                        }

                        var text = command.split(' ').pop();

                        var found = '';
                        if (text != '') {
                            for (var i = 0; i < array.length; i++) {
                                var value = array[i];
                                if (value.length > text.length &&
                                        value.substring(0, text.length) == text) {
                                    found = value.substring(text.length, value.length);
                                    break;
                                }
                            }
                        }
                        guess.text(found);
                    };
                    var update = function () {
                        var command = input.val();
                        repeat.text(command);
                        search(command);
                    };
                    input.change(update);
                    input.keyup(update);
                    input.keypress(update);
                    input.keydown(update);

                    input.keydown(function (e) {
                        var code = (e.keyCode ? e.keyCode : e.which);
                        if (code == 9) {
                            var val = input.val();
                            input.val(val + guess.text());
                            return false;
                        }
                    });

                    return input;
                };
            })(jQuery);

            /**
             * Windows variables.
             */
            window.currentDir = '{{ currentDirName }}';
            window.currentDirName = window.currentDir.split('/').pop();
            window.currentUser = '{{ currentUser }}';
            window.titlePattern = "* — console";
            window.document.title = window.titlePattern.replace('*', window.currentDirName);

            /**
             * Init console.
             */
            $(function () {
                var screen = $('#term');
                var input = $('input').focus();
                var form = $('form');
                var scroll = function () {
                    $(screen).animate({
                        scrollTop: $(screen)[0].scrollHeight}, 1000);
                };
                input.history();
                input.autocomplete({{ autocomplete|raw }});
                form.submit(function () {
                    var command = $.trim(input.val());
                    if (command == '') {
                        return false;
                    }

                    $('<code class="hljs sh">' + window.currentDirName + "&nbsp;" + window.currentUser + "$&nbsp;" + command + '</code><br><br>').appendTo(screen);
                    scroll();
                    input.val('');
                    form.hide();
                    input.addHistory(command);

                    $.get('/admin/terminal', {'command': command, 'cd': window.currentDir}, function (output) {
                        var pattern = /^set current directory (.+?)$/i;
                        if (matches = output.match(pattern)) {
                            window.currentDir = matches[1];
                            window.currentDirName = window.currentDir.split('/').pop();
                            $('#currentDirName').text(window.currentDirName);
                            window.document.title = window.titlePattern.replace('*', window.currentDirName);
                        } else {
                            screen.append('<code class="hljs sh">' + output + '</code><br><br>');
                        }
                    })
                    .fail(function () {
                        screen.append("<span class='error'>Command is sent, but due to an HTTP error result is not known.</span>\n");
                    })
                    .always(function () {
                        form.show();
                        scroll();
                    });
                    return false;
                });

                $(document).keydown(function () {
                    input.focus();
                });
            });
        </script>
    {% endblock adminheadbefore %}

{% block admincontent %}

    <div class="row">
        {#<div class="col-lg-12 text-center">#}
        <h4 class="text-center">Terminal</h4>
        {#</div>#}

        <div class="col-lg-12 conbody">
            <pre id="term"></pre>
            <form>
                <div id="currentDirName">{{ currentDirName|raw }}</div>
                <div>&nbsp;{{ currentUser|raw }}$&nbsp;</div>
                <div id="command"><input type="text" value=""></div>
            </form>
        </div>

    </div>

    <div class="row">
            <pre class="small text-info pre-scrollable">
                wget -q https://getcomposer.org/composer.phar
                ls -l                                   php -h
                hostnamectl                             free -m
                chmod u+x /path/to/file                 ulimit -a
                id                                      who
                girl
            </pre>
    </div>

{% endblock admincontent %}