        <li>
            <label for="" class="loader label label-info hidden" id="loader">
                Loading <img src="{{ baseStatic() }}/assets/img/loader.gif" alt="">
            </label>
        </li>
        <!-- /.dropdown -->
