
    {% block menu %}
        <li><a href="{{ baseStatic() }}/forum">Forum</a></li>
        <li><a href="{{ baseStatic() }}/about">About</a></li>
        <li><a href="{{ baseStatic() }}/services">Services</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/#">Blog Home 1</a></li>
                <li><a href="/#">Blog Home 2</a></li>
                <li><a href="/#">Blog Post</a></li>
                <li class="divider"></li>
                <li><a href="/">Test</a></li>
            </ul>
        </li>
    {% endblock menu %}