<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock meta %}
    <link rel="shortcut icon" href="{{ baseStatic() }}/assets/img/favicon.png" type="image/png">

    <title>{% block title %}{% endblock %} &ndash; RunCMF </title>

    <link rel="stylesheet" href="{{ baseStatic() }}/themes/runbb/style.css">
    <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/font-awesome.min.css">


    <script type="text/javascript" src="{{ baseStatic() }}/assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ baseStatic() }}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ baseStatic() }}/assets/js/common.js"></script>

    <!-- Include registered css -->
    {% for cssfile in css.external %}
        <link rel="stylesheet" href="{{ cssfile }}" />
    {% endfor %}

    {% for cssfile in css.internal %}
        <link rel="stylesheet" href="{{ baseStatic() }}/assets/css/{{ cssfile }}" />
    {% endfor %}
    <!-- /Include registered css -->
    {% block head %}{% endblock head %}
    <!-- /head -->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{ baseStatic() }}/assets/img/logo.png" align="left" width="64" height="61" alt="RunCMF" title="RunCMF"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block menu %}{% endblock menu %}

                    <!-- userMenu -->
                    {{ user_menu|raw }}
                    <!-- /userMenu -->
                    <li>
                        <label for="" class="loader label label-info hidden" id="loader">
                            Loading <img src="{{ baseStatic() }}/assets/img/loader.gif" alt="">
                        </label>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <header>&nbsp;</header>
    <!-- Page Content -->
    {% block content %}{% endblock content %}
    <!-- /.Page Content -->

    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016-2017  &nbsp; <a href="https://bitbucket.org/1f7/"> <i class="fa fa-bitbucket"></i> </a> </p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Include registered javascript -->
    {% for jsfile in js.external %}
        <script src="{{ jsfile }}"></script>
    {% endfor %}

    {% for jsfile in js.internal %}
    <script type="text/javascript" src="{{ baseStatic() }}/assets/js/{{ jsfile }}"></script>
    {% endfor %}
    <!-- /Include registered javascript -->

    {% block javascript %}{% endblock %}

</body>
</html>
