<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="header">
        {% if getVar('id', 'user') > 1 %}
            <li class="dropdown-header">{{ getVar('Logged in as', 'lang') }} <b>{{ getVar('username', 'user') }}</b></li>
            <li><a href="/forum/profile?id={{ getVar('id', 'user') }}" class="usercp"><i class="fa fa-fw fa-user-circle-o"></i> {{ getVar('Profile', 'lang') }}</a></li>
            <li class="divider"></li>
            <li><a href="/forum/login?action=out?id={{ getVar('id', 'user') }}&csrf_hash={{ getVar('csrf_hash', 'var') }}" class="logout"><i class="fa fa-fw fa-sign-out"></i> {{ getVar('Logout', 'lang') }}</a></li>
        {% else %}
            <li class="dropdown-header">{{ getVar('Not logged in', 'lang') }}</li>
            <li class="divider"></li>
            <li><a href="/forum/login" onclick="$('#quick_login').modal({ fadeDuration: 250, keepelement: true, zIndex: (typeof modal_zindex !== 'undefined' ? modal_zindex : 9999) }); return false;" class="login"><i class="fa fa-fw fa-sign-in"></i> {{ getVar('Login', 'lang') }}</a></li>
            <li><a href="/forum/register" class="register"><i class="fa fa-fw fa-user-times"></i> {{ getVar('Register', 'lang') }}</a></li>

            <div class="modal" id="quick_login" style="display: none;">
                <form class="panel panel-primary" method="post" action="/forum/login">
                    <input name="action" type="hidden" value="do_login" />
                    <input name="url" type="hidden" value="" />
                    <input name="quick_login" type="hidden" value="1" />

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('Login', 'lang') }}</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <label for="quick_login_username">{{ getVar('Username', 'lang') }}</label>
                                    <input name="quick_username" id="quick_login_username" type="text" value="" class="form-control initial_focus" />
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <label for="quick_login_password">{{ getVar('Password', 'lang') }}</label>
                                    <input name="quick_password" id="quick_login_password" type="password" value="" class="form-control" />
                                    <small><a href="/forum/login?action=forget" class="lost_password">{{ getVar('Forgotten pass', 'lang') }}</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 form-inline">
                                    <input name="quick_remember" id="quick_login_remember" type="checkbox" value="yes" class="form-control" checked="checked" /> {{ getVar('Remember me', 'lang') }}
                                    <label for="quick_login_remember"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input name="submit" type="submit" class="btn btn-primary" value="{{ getVar('Login', 'lang') }}" />
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                $('#quick_login input[name="url"]').val($(location).attr('href'));
            </script>
        {% endif %}
    </ul>
</li>

